#top_div{
  background-color: #F0FFF0;
  height: auto;
  /*border-bottom: 3px fullscreen #696969;*/
  border-bottom: 3px fullscreen #696969;

}

h1{
  color: #66CDAA;
  font-size: 70px;
  text-align: center;
  padding-top: 25px;
  font-family: Impact, Charcoal, sans-serif,cursive;
  text-shadow: 2px 2px;
}

#mid_div{
  background-color: #FFF5EE;
}

p{
  font-size: 33px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  color: #696969;
  padding-top: 33px;
}

.container{
  background-color: #FFF5EE;
}

.between{
  border: 3px dotted #696969;
}

body{
  background-color: #FFF5EE;
}

.nav-pills > li > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:#696969;
    background-color:#F0FFF0;
    }
li{
  color: #696969;
}
