#top_div{
  background-color: #98FB98;
  height: auto;

}

h1{
  color: pink;
  font-size: 70px;
  text-align: center;
  padding-top: 25px;
  font-family: Impact, Charcoal, sans-serif,cursive;
}

#mid_div{
  background-color: #FFF5EE;
}

p{
  font-size: 33px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  color: #696969;
  padding-top: 33px;
}

.container{
  background-color: #FFF5EE;
}
